* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:not([href]) {
  cursor: pointer;
}

.hidden {
  display: none;
}

html, body {
  height: 100%;
}

body {
  background: #fff;
  color: #333;
  font: 16px "Source Sans Pro", sans-serif;
  min-width: 960px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  font-size: 32px;
}

h2 {
  color: #111;
  font-size: 42px;
  font-weight: 300;
  line-height: 48px;
  margin-bottom: 10px;
}

h3 {
  color: darkcyan;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.slogan {
  display: block;
  font-size: 32px;
  font-weight: 500;
  padding-left: 155px;
}

.prose {
  line-height: 1.5;
}

.prose h2,
.prose h3,
.prose p {
  margin: 20px 0;
}

.prose h2:first-child,
.prose p:first-child {
  margin-top: 0;
}

.prose ul {
  margin: 0 0 20px 40px;
}

.prose li + li {
  margin-top: 15px;
}

p + p {
  margin-top: 20px;
}

a {
  padding-bottom: 2px;
  text-decoration: none;
  transition: border-bottom .05s ease-in-out, color .05s ease-in-out;
}

.prose a {
  border-bottom: 1px solid #eee;
  color: #07d;
}

.prose a:active {
  border-bottom-color: #fed;
  color: #f81;
}

.prose a:hover {
  border-bottom-color: #9cf;
  color: #0ae;
}

@media (max-width: 320px) {
  body {
    padding: 0;
  }
}

.flex {
  display: -webkit-box;   /* iOS 6-, Safari 3.1-6 */
  display: -moz-box;      /* Firefox 2-21 */
  display: -ms-flexbox;   /* IE 10+ */
  display: -webkit-flex;  /* Chrome 4-20 */
  display: flex;          /* Chrome 21+, Firefox 20+, Opera 12.1 */
}

.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.vcentre {
  /* Vertically centre with old flexbox */
  -webkit-align-items: center;
  -moz-box-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;

  /* Vertically centre with new flexbox */
  align-items: center;
}

.header {
  background: rgba(187,221,255,.75);
  box-shadow: 0 1px 3px rgba(0,0,0,.25);
  top: 0;
  z-index: 1;
  left: 0;
  right: 0;
}

.header,
nav a {
  height: 80px;
}

.header:before {
  border-bottom: 2px solid rgba(0,0,0,.1);
  border-top: 2px solid rgba(255,255,255,.5);
  content: "";
  position: absolute;
  top: 78px;
  width: 100%;
  z-index: 1;
}

nav a {
  border: 0;
  color: #999;
  font-size: 16px;
  font-weight: 500;
  padding: 0 20px;
}

nav a:last-child {
  padding-right: 0;
}

nav a:hover {
  color: #2b8;
}

[data-hash="#benchmarks"] a[href="#benchmarks"],
[data-hash="#faq"] a[href="#faq"],
[data-hash="#resources"] a[href="#resources"] {
  color: #286;
  font-weight: bold;
}

a.logo {
  border: 0;
  color: #222;
  padding: 0 0 0 155px;
  position: relative;
}

a.logo:before {
  background: url(../img/iceberg.svg) no-repeat;
  background-size: contain;
  content: "";
  left: 0;
  top: 26px;
  min-height: 250px;
  position: absolute;
  width: 170px;
}

.massive {
  font-size: 48px;
  font-weight: 600;
  line-height: 1;
}

masthead {
  background: #57c;
  color: #fff;
  display: block;
}

masthead a {
  border-bottom: 3px solid rgba(102,255,255,.25);
  color: #cff;
}

masthead a:hover {
  border-bottom: 3px solid rgba(102,255,255,.5);
  color: #6ff;
}

.wrap {
  background-repeat: no-repeat;
  font-weight: 300;
  margin: 0 auto;
  max-width: 1200px;
  width: 80%;
}

.wrap-juicy {
  padding: 30px 0;
}

.benchmarks .wrap-juicy {
  background: #fff;
  border: 30px solid #248;
  border-width: 30px 155px;
  padding: 30px;
}

.wrap-centre {
  text-align: center;
}

.wrap-dark p {
  color: #eee;
}

.wrap-light p {
  color: #999;
}

input, button, textarea {
  font-family: inherit;
}

.btn {
  background: #40dfc2;
  border: 0;
  border-radius: 4px;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.1);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font: 400 14px/24px "Source Sans Pro", sans-serif;
  min-width: 80px;
  padding: 2px 15px;
  text-align: center;
}
.btn:hover {
  background: #1ba088;
}
.btn.disabled,
.btn[disabled] {
  background: #9b9b9b;
  cursor: not-allowed;
}
.btn.disabled:hover,
.btn[disabled]:hover {
  background: #656565;
}
.btn-cta {
  font-size: 18px;
  line-height: 28px;
  min-width: 200px;
  padding: 10px 15px;
}
.btn:hover {
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.35);
  text-decoration: none;
}
.btn:focus {
  box-shadow: 0 0 10px rgba(55,55,55,.75) inset;
  color: rgba(255,255,255,.75);
}
.btn-small {
  font-size: 10px;
}
.btn-medium {
  font-size: 14px;
  line-height: 1.85;
  padding-left: 15px;
  padding-right: 15px;
}
.btn.btn-round {
  border-radius: 20px;
}

/* Active */
.btn-cta:active {
  background:red;
}

.btn:active,
.btn-active,
.btn-active:hover {
  background: #ddd;
  border: none;
  box-shadow: 0 2px 4px rgba(0,0,0,.4) inset;
  color: #555;
  filter: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.8);
}

/* Full */
.btn-full {
  width: 100%;
}
.btn-inline {
  display: inline-block;
}

.benchmarks {
  background: #248;
}

.faq {
  background: #ffe;
}

.resources {
  background: #fdd;
}

.footer {
  background: #eee;
}

table {
  margin: 15px 0;
  table-layout: fixed;
  text-align: left;
  width: 100%;
}

tr, td, th {
  vertical-align: middle;
}

tbody {
  background-color: #f7f7f7;
}

.table-bordered {
  border: 1px solid #ddd;
  border-collapse: separate;
  border-left: 0;
  border-spacing: 0;
  border-radius: 3px;
}

.table-bordered thead th:first-child {
  border-top-left-radius: 3px;
}

.table-bordered thead th:last-child {
  border-top-right-radius: 3px;
}

.table-bordered thead th {
  background-color: #fff;
  border-left: 1px solid #ddd;
  border-bottom: 0;
  padding: .5em;
}

.table-bordered td {
  border: 1px solid #ddd;
  border-width: 1px 0 0 1px;
  padding: .5em;
}

.table-striped tbody tr:nth-child(even) {
  background-color: #ececec;
}

.row-group,
.table-striped tbody tr:nth-child(even).row-group {
  background: rgb(221,238,255);  /* #def */
}

.row-pending {
  color: rgba(0,0,0,.25);
}

/* Hide text in all cells other than the Benchmark title cell */
.row-pending td + td,
.row-pending td + td * {
  color: transparent;
}

.row-group.row-pending,
.table-striped tbody tr:nth-child(even).row-group.row-pending {
  background: rgba(221,238,255,.25);
}

.cell-group-title {
  font-weight: bold;
}

.cell-running {
  background-color: #ffa;
  font-style: italic;
}

.cell-number {
  background-color: #bcf;
  font-weight: bold;
  text-align: right;
}

.cell-number ~ .cell-scale {
  font-weight: bold;
}

.cell-scale {
  text-align: left;
}

.cell-description {
  color: #666;
  font-size: 12px;
  text-align: left;
}

small {
  color: #999;
  font-size: 11px;
}

.toggly {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.toggly.visible {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.presentation-area {
  display: none;
}

[data-running] .presentation-area {
  display: block;
}

iframe {
  border: 0;
  height: 145px;
  width: 100%;
}

.results-area {
  margin-top: 10px;
}

.results-area h3 {
  margin-top: 15px;
}

a.section-anchor {
  border: 0;
}

h3 a.section-anchor,
h3 a.section-anchor:link,
h3 a.section-anchor:active,
h3 a.section-anchor:visited {
  color: inherit;
}

.section-anchor {
  display: block;
  outline: 0;
  margin-left: -50px;
  padding-left: 50px;
  position: relative;
}

.section-anchor:before {
  color: #ccc;
  content: "\00a7";
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  text-align: center;
  transition: .15s opacity, .15s visibility;
  visibility: hidden;
  width: 50px;
}

.section-anchor:focus:before,
.section-anchor:hover:before {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.section-anchor:focus:before {
  color: #666;
}
